Repository raylyanway/-front-end-js-stub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint, prettier --write

feat(*): initial commit
  .eslintrc
Due: none

feat(*): initial commit
  cypress/e2e/spec.cy.ts
Due: none

feat(*): add readme
  README.md
Due: none

Update README.md
  README.md
Due: none

feat(*): add cypress test
  cypress/component/ComponentName.cy.ts
Due: none

feat(*): add cypress test
  src/App.tsx
Due: prettier --write --ignore-unknown, eslint

change lintstagerc
  .lintstagedrc
Due: none

test
  src/App.tsx
Due: prettier --write --ignore-unknown, eslint

formatting
  .husky/pre-commit
  .lintstagedrc
  src/App.test.tsx
  src/index.css
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint, prettier --write

remove lintstage
  .lintstagedrc
  package-lock.json
  package.json
Due: none

cleaning
  .husky/pre-commit
  src/App.tsx
Due: prettier --write --ignore-unknown, eslint

sort package json
  package.json
Due: none

add bin file
  bin.js
  package-lock.json
  package.json
Due: none

update bin js
  bin.js
  package.json
Due: none

update bin js file
  .eslintrc
  .prettierignore
  .prettierrc1
  bin.js
  package.json
Due: none

delete extra file
  .prettierrc1
Due: none

feat(*): update the project
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  README.md
  cypress/component/ComponentName.cy.ts
  cypress/e2e/spec.cy.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package.json
Due: none

fix(*): delete bin file
  bin.js
Due: none

Path conditions:
  prettier --write --ignore-unknown: any of: src/**/*.{js,jsx,ts,tsx,json,css,md}
  eslint: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --write: any of: src/**/*.css
